.box {
  min-width: 910px
  margin: 0px auto;
  width: 75%;
}

p {
  font-size: 12px;
  font-family: "Times New Roman", serif;
  color: #656565;
  margin: 0 5% 0 5%;
}

li {
  display: inline-block;

}
  a:hover {
    color: #20222a;
}



img {
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}


