<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body {
        background-color: <%= colors %>;
      }
    </style>
  </head>
  <body>
<div id="compliment">

<p>Welcome to <%= title %> We can tell you need some encouragement.</p>

</div>

<div id="compliment">

<p> <%= compliments %></p>


</div>
  </body>
</html>
